services:
  sentiment-api-gpu:
    build:
      context: .
      dockerfile: Dockerfile.gpu
    network_mode: host
    container_name: sentiment-api-gpu
    environment:
      - SENTIMENT_CONFIG_PATH=/app/config.yaml
    volumes:
      - /path/to/model_dir:/app/model:ro
      - /path/to/runtime/config.yaml:/app/config.yaml:ro
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    restart: unless-stopped

  sentiment-api-cpu:
    build:
      context: .
      dockerfile: Dockerfile.cpu
    network_mode: host
    container_name: sentiment-api-cpu
    environment:
      - SENTIMENT_CONFIG_PATH=/app/config.yaml
    volumes:
      - /path/to/model_dir:/app/model:ro
      - /path/to/runtime/config.yaml:/app/config.yaml:ro
    restart: unless-stopped
